<div class="w-full bg-center bg-cover bg-[url(/assets/images/hero.jpg)] md:h-[390px] xl:h-[320px] h-[550px]">
    <div class="bg-white/30 backdrop-blur-sm h-full">
        <br />
        <h1
            class="mb-4 text-3xl sm:text-4xl font-extrabold tracking-tight text-center leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Preschool search made easier!
            with <span class="text-indigo-700">SGPreschools.com </span>
        </h1>
        <div class="grid grid-cols-1 sm:grid-cols-3 xl:grid-cols-5 gap-2">
            <div class="xl:col-start-2 col-span-1 mx-1 bg-white border border-gray-200 rounded-lg shadow-sm">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 p-2">🔎 Search preschools</h5>
                <p class="mb-3 font-normal text-gray-700 p-2">Instantly search for schools by name,
                    location📍, and check vacancy, operating hours ✅</p>
            </div>
            <div class="col-span-1 mx-1 bg-white border border-gray-200 rounded-lg shadow-sm">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 p-2">💵 See fee details</h5>
                <p class="mb-3 font-normal text-gray-700 p-2">Get detailed fee information, including
                    whether subsidies apply.</p>
            </div>
            <div class="col-span-1 mx-1 bg-white border border-gray-200 rounded-lg shadow-sm">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 p-2">💡 Discover more</h5>
                <p class="mb-3 font-normal text-gray-700 p-2">Discover if the school offers
                    transportation 🚌 and if your preferred language is taught.</p>
            </div>
        </div>
    </div>
</div>