<div class="md:col-span-1 justify-items-center mt-2 mb-2">
    <div
        class="w-full rounded-lg border shadow-sm overflow-hidden bg-white border-stone-200 shadow-stone-950/5 max-w-xs">
        <div class="w-[calc(100%-16px)] h-max rounded m-2 mx-3 mt-3">
        </div>
        <div class="w-full h-max rounded px-3.5 py-2.5">
            <h6 class="font-sans antialiased font-bold text-base md:text-lg lg:text-xl text-current">
                {{ school.centre_name }}</h6>

            <div class="grid grid-cols-6 gap-1 pt-2">
                <div class="col-span-1">
                    <button
                        class="inline-grid place-items-center align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in text-sm min-w-[32px] min-h-[32px] rounded-md shadow-sm"
                        title="Address">
                        📍
                    </button>
                </div>
                <div class="col-span-5 w-full rounded-lg text-sm normal-case">
                    {{ school.centre_address}}
                </div>
                <div class="col-span-1">
                    <button title="Contact Number"
                        class="inline-grid place-items-center align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in text-sm min-w-[32px] min-h-[32px] rounded-md shadow-sm">
                        ☎️
                    </button>
                </div>
                <div class="col-span-5 w-full rounded-lg text-sm normal-case">
                    <a class="underline" href="tel:{{school.centre_contact_no}}"> {{school.centre_contact_no}} </a>
                </div>
                <div class="col-span-1">
                    <button title="Website"
                        class="inline-grid place-items-center align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in text-sm min-w-[32px] min-h-[32px] rounded-md shadow-sm">
                        🔗
                    </button>
                </div>
                <p class="col-span-3 text-gray-400"><a href="//{{school.centre_website}}"
                        class="inline-flex items-center font-medium text-blue-500 hover:underline">
                        Visit website
                    </a></p>

                <p class="col-span-2 text-gray-400"><a href="//{{school.centre_website}}"
                        class="inline-flex items-center font-medium text-blue-500 hover:underline">
                        ✉️ Email
                    </a></p>

                <div class="col-span-6 justify-items-center mt-2">
                    <div [innerHTML]="renderVacancies()"></div>
                </div>
            </div>

            <div class="w-full pt-4 pb-1.5 rounded flex flex-row items-center justify-center">
                <a [routerLink]="['/view-school-details', school.centre_code]"
                    class="secondary w-24 px-3 py-2 text-white h-10 rounded-sm cursor-pointer">
                    More Info
                </a>
            </div>
        </div>
    </div>