<div class="w-full bg-center bg-cover bg-[url(/assets/images/hero.jpg)] md:h-[390px] xl:h-[320px] h-[550px]">
    <div class="bg-white/30 backdrop-blur-sm h-full" id="map">
    </div>
</div>
<section class="bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-2xl font-semibold capitalize lg:text-3xl text-white">{{ record.centre_name }}
        </h1>
        @if(record.centre_website != 'na')
        {
        <a href="//{{record.centre_website}}" target="_blank"
            class="inline-flex items-center -mx-1 text-sm capitalize transition-colors duration-300 transform text-blue-400 hover:underline hover:text-blue-500">
            <span class="mx-1">Visit school website</span>
            <svg class="w-4 h-4 mx-1 rtl:-scale-x-100" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
        }

        <p class="mt-4 xl:mt-6 text-gray-300">
            {{record.centre_address}}<br /><br /></p>
        <a href="tel:+65{{record.centre_contact_no}}"
            class="p-4 inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-lg min-w-[38px] min-h-[38px] rounded-md shadow-sm hover:shadow-md bg-green-500 border-green-500 text-green-50 hover:bg-success-light hover:border-success-light">
            <span class="text-xl md:text-2xl">☎️ +65{{record.centre_contact_no}}</span>
        </a>
        <br /><br />
        <a href="mailto:{{record.centre_email_address}}"
            class="p-4 inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-lg min-w-[38px] min-h-[38px] rounded-md shadow-sm hover:shadow-md bg-indigo-500 border-indigo-500 text-indigo-50 hover:bg-success-light hover:border-success-light">
            <span class="text-xl md:text-2xl overflow-hidden text-ellipsis">✉️ {{record.centre_email_address}}</span>
        </a>
        <br /><br />
        <span class="text-white"> Information last updated on {{record.last_updated}}</span>
        <br />
        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
            <div class="space-y-3">
                <span class="inline-block p-3 rounded-full text-white bg-blue-500">
                    Centre Information
                </span>
                <h2 class="text-xl font-semibold capitalize text-white">Centre Code</h2>
                <p class="text-gray-300">
                    {{record.centre_code}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Service Model</h2>
                <p class="text-gray-300">
                    {{record.service_model}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Spark Certification</h2>
                <p class="text-gray-300">
                    {{record.spark_certified}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Org. Code</h2>
                <p class="text-gray-300">
                    {{record.organisation_code}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Org. Desc</h2>
                <p class="text-gray-300">
                    {{record.organisation_description}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Scheme Type</h2>
                <p class="text-gray-300">
                    {{record.scheme_type}}
                </p>
            </div>
            <div class="space-y-3">
                <span class="inline-block p-3 rounded-full text-white bg-blue-500">
                    Vacancy Information
                </span> <br />
                <div [innerHTML]="this.getVacancyStatus(record.infant_vacancy_current_month,'Infant Care')"></div>
                <div [innerHTML]="this.getVacancyStatus(record.pg_vacancy_current_month,'Play Group')"></div>
                <div [innerHTML]="this.getVacancyStatus(record.n1_vacancy_current_month,'N1')"></div>
                <div [innerHTML]="this.getVacancyStatus(record.n2_vacancy_current_month,'N2')"></div>
                <div [innerHTML]="this.getVacancyStatus(record.k1_vacancy_current_month,'K1')"></div>
                <div [innerHTML]="this.getVacancyStatus(record.k2_vacancy_current_month,'K2')"></div>
            </div>

            <div class="space-y-3">
                <span class="inline-block p-3 rounded-full text-white bg-blue-500">
                    Working Hours
                </span>

                <h2 class="text-xl font-semibold capitalize text-white">Weekday full day</h2>
                <p class="text-gray-300">
                    {{record.weekday_full_day}}
                </p>

                <h2 class="text-xl font-semibold capitalize text-white">Saturday</h2>
                <p class="text-gray-300">
                    {{record.saturday}}
                </p>

                <h2 class="text-xl font-semibold capitalize text-white">Extended Operating Hours</h2>
                <p class="text-gray-300">
                    {{record.extended_operating_hours}}
                </p>
            </div>
            <div class="space-y-3">
                <span class="inline-block p-3 rounded-full text-white bg-blue-500">
                    Other Information
                </span>
                <h2 class="text-xl font-semibold capitalize text-white">Second languages offered</h2>
                <p class="text-gray-300">
                    {{record.second_languages_offered}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Food options</h2>
                <p class="text-gray-300">
                    {{record.food_offered}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Transport offered</h2>
                <p class="text-gray-300">
                    {{record.provision_of_transport}}
                </p>
                <h2 class="text-xl font-semibold capitalize text-white">Govt. Subsidy offered</h2>
                <p class="text-gray-300">
                    {{record.government_subsidy}}
                </p>
            </div>
            <div class="space-y-3 col-span-1 sm:col-span-2">
                <span class="inline-block p-3 rounded-full text-white bg-blue-500">
                    License &amp; Fees
                </span>
                <div class="relative overflow-scroll h-[400px]">
                    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                        role="alert">
                        <span class="font-medium">ℹ️ Info: </span>
                        The fee presented below is dervied from ECDA data. There could be additional fees
                        applicable. Please contact the school directly for more accurate data.
                    </div>
                    <table class="w-full text-sm text-left rtl:text-right text-gray-400">
                        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Level
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Citizenship
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Fees <br />
                                    (Last updated on)
                                </th>
                                <!-- <th scope="col" class="px-6 py-3">
                                    Last updated
                                </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            @if(schoolFees?.result?.records != undefined && schoolFees?.result?.records!.length > 0){
                            @for (fees of schoolFees?.result?.records; track fees._id) {
                            <tr class="border-b bg-gray-800 border-gray-700">
                                <td class="px-6 py-4">
                                    {{fees.levels_offered}} <br />
                                    <span class="text-white">{{fees.type_of_service}}</span>
                                </td>
                                <td class="px-6 py-4">
                                    {{fees.type_of_citizenship}}
                                </td>
                                <td class="px-6 py-4">
                                    <span class="text-green-500">
                                        {{ fees.fees | currency }}
                                    </span><br />
                                    <span class="text-gray-400">({{ fees.last_updated }})</span>
                                </td>
                                <!-- <td class="px-6 py-4">
                                    {{fees.last_updated}}
                                </td> -->
                            </tr>
                            }
                            }
                            @else
                            {
                            <tr>
                                <td colspan="3">
                                    No fee information available
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>