<footer
    class="flex w-full flex-row flex-wrap items-center justify-center gap-x-12 gap-y-3 border-t border-stone-200 text-center md:justify-between min-h-18">
    <p class="px-2 font-sans antialiased text-sm text-current"> Early Steps - A comprehensive school finder </p>
    <ul class="flex flex-wrap items-center gap-x-6 gap-y-2 pr-2">
        <li>
            <span class="font-sans antialiased text-sm text-current">Data source:
                <a href="https://data.gov.sg">data.gov.sg</a> 🇸🇬 </span>
        </li>
    </ul>
</footer>