<app-carousel></app-carousel>
<div class="w-full max-w-7xl mx-auto p-4 md:px-8">
    <div class="flex flex-col lg:flex-row lg:items-center max-lg:gap-4 justify-between w-full">
        <ul class="flex flex-col sm:flex-row sm:items-center gap-4 sm:gap-12">
            <li class="flex items-center cursor-pointer outline-none group">
                <input type="text" id="searchBySchoolName" placeholder="Search by School name"
                    [(ngModel)]="searchSchoolName" (change)="refreshData()"
                    class="h-12 border border-gray-300 text-gray-900 text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-white transition-all duration-500 hover:border-gray-400 hover:bg-gray-50 focus-within:bg-gray-50">
            </li>
            <li class="flex items-center cursor-pointer outline-none group">
                <input type="text" id="searchByLocation" placeholder="Search by Location"
                    [(ngModel)]="searchSchoolLocation" (change)="refreshData()"
                    class="h-12 border border-gray-300 text-gray-900 text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-white transition-all duration-500 hover:border-gray-400 hover:bg-gray-50 focus-within:bg-gray-50">
            </li>
        </ul>
        <div class="relative w-full max-w-sm">
            <select id="pageSize" (change)="refreshData()" [(ngModel)]="pageSize"
                class="h-12 border border-gray-300 text-gray-900 pl-11 text-base font-normal leading-7 rounded-full block w-full py-2.5 px-4 appearance-none relative focus:outline-none bg-white transition-all duration-500 hover:border-gray-400 hover:bg-gray-50 focus-within:bg-gray-50">
                <option value="10">Load 10 items per page</option>
                <option value="25">Load 25 items per page</option>
                <option value="50">Load 50 items per page</option>
                <option value="100">Load 100 items per page</option>
            </select>
            <svg class="absolute top-1/2 -translate-y-1/2 right-4 z-50" width="16" height="16" viewBox="0 0 16 16"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0002 5.99845L8.00008 9.99862L3.99756 5.99609" stroke="#111827" stroke-width="1.6"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="h-[80px] p-5 justify-items-end grid grid-cols-1 grid-rows-1">
            <button id="prev-button" (click)="goToMaps();"
                class="secondary w-full sm:w-[200px] px-3 py-2 text-white h-10 rounded-sm cursor-pointer font-extrabold">
                View Map
            </button>
        </div>
    </div>
    <svg class="my-4 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2"
        fill="black">
        <path d="M0 1H1216" stroke="#E5E7EB" />
    </svg>
</div>


@if(schools?.result?.records != undefined && schools?.result?.records!.length > 0){
<div class="flex justify-between items-center space-x-2 my-2 px-4">
    <div>
        <!-- Previous Button -->
        <button id="prev-button"
            class="disabled:cursor-none disabled:text-gray-500 px-4 mx-2 py-2 cursor-pointer bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
            (click)="goToPreviousPage()" [disabled]="currentPage === 1">
            Previous
        </button>
        &nbsp;
        <!-- Next Button -->
        <button id="next-button"
            class="disabled:cursor-none disabled:text-gray-500 px-4 mx-2 py-2 cursor-pointer bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
            (click)="goToNextPage()" [disabled]="currentPage === totalPages">
            Next
        </button>
    </div>
    <div role="status" *ngIf="showLoading">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
    <div class="pr-1">
        Page <span>{{currentPage}}</span> of <span>{{totalPages}}</span>
    </div>
</div>
<div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 2xl:grid-cols-5 mt-2 px-4 bg-gray-900 justify-items-center">

    @for (school of schools?.result?.records; track school.centre_code) {
    @if(school.centre_name != 'na' && school.centre_code != 'na'){
    <app-school-card [school]="school"></app-school-card>
    }
    }

</div>
<div class="flex justify-between items-center space-x-2 my-4 px-4">
    <div>
        <!-- Previous Button -->
        <button id="prev-button"
            class="disabled:cursor-none disabled:text-gray-500 px-4 mx-2 py-2 cursor-pointer bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
            (click)="goToPreviousPage()" [disabled]="currentPage === 1">
            Previous
        </button>
        &nbsp;
        <!-- Next Button -->
        <button id="next-button"
            class="disabled:cursor-none disabled:text-gray-500 px-4 mx-2 py-2 cursor-pointer bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
            (click)="goToNextPage()" [disabled]="currentPage === totalPages">
            Next
        </button>
    </div>
    <div role="status" *ngIf="showLoading">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
        <span class="sr-only">Loading...</span>
    </div>
    <div class="pr-1">
        Page <span>{{currentPage}}</span> of <span>{{totalPages}}</span>
    </div>
</div>
}
@else
{
<div class="flex justify-center items-center h-96 p-5 bg-gray-900 text-white">
    No school data present. Please remove any filters or try again after some time.
</div>
}