<!-- Hero Section -->
<div class="container bg-white mx-auto">
    <div class="max-w-7xl mx-auto px-6 items-center">
        <!-- Left Content -->
        <h1 class="text-2xl text-center wrap-break-word md:text-5xl grid-cols-1 font-bold text-gray-900 leading-tight">
            School searches made easier
            with <span class="secondary-text">Early Steps</span>
        </h1>
        <div class="mt-6 items-center justify-items-center space-x-4 grid grid-cols-1 md:grid-cols-3">
            <div class="md:grid-cols-1">
                <label class="text-sm font-medium text-gray-700" for="location">Location</label><br />
                <input type="text" id="location" placeholder="Enter location"
                    class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
            <div class="md:grid-cols-1">
                <label class="text-sm font-medium text-gray-700" for="school">School Name</label><br />
                <input type="text" id="school" placeholder="Enter location"
                    class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
            <div class="md:grid-cols-1">
                <br />
                <button type="button"
                    class="secondary inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-md py-2 px-4 shadow-sm hover:shadow-md relative text-stone-50 rounded-lg after:absolute after:inset-0 after:rounded-[inherit] after:box-shadow after:shadow-[inset_0_1px_0px_rgba(255,255,255,0.25),inset_0_-2px_0px_rgba(0,0,0,0.35)] after:pointer-events-none transition antialiased">🔎
                    Find Schools</button>
            </div>
        </div>

    </div>
</div>